<div class="Hero">
  <div class="Hero-content">
    <div class="Hero-header">
      The fun is over, ladies and gents.
    </div>

    <div class="Hero-sub">
      <p>
        Unfortunately, Southwest asked that chkmein.co cease operation. While I don't think many are surpised by this, It does mean that future scheduled automatic checkins will be disabled and the site has ceased operation as of now. It was a fun experiment.
      </p>
      <p>
        All existing data has been removed from chkmein.co. All accounts have been removed, and no action is necessary for past users of the site.
      </p>
    </div>
  </div>
</div>
